.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-1);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.results {
    background-color: greenyellow;
    height: 10rem;

    flex: 0 0 25%;
}

.recipe {
    background-color: orangered;
    height: 10rem;

    flex: 1;
}

.shopping {
    background-color: blueviolet;
    height: 10rem;

    flex: 0 0 25%;
}